@font-face {
    font-family: "Audimat";
    src: url("font_audimat.ttf") format("truetype");
}

html {
	margin: 0;
	font-size: 16px;
	font-family: Audimat;
}

body {
	margin: 0;
	margin-left: 250px;
	overflow: auto;
}

body > header,
body > aside,
body > footer {
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	position: fixed;
	width: 250px;
	background: #444;
	color: #fff;
	text-align: center;
}
body > header {
	bottom: auto;
	height: 80px;
	line-height: 80px;
	background: #000;
	font-size: 200%;
}
body > aside {
	top: 80px;
	bottom: 50px;
	text-align: left;
	overflow: auto;
}
body > footer {
	top: auto;
	height: 50px;
	line-height: 25px;
	background: #000;
}

body > header {
	color: #adf;
}

header a {
	color: #adf;
	display: block;
	text-decoration: none;
}
header a:hover,
header a:active {
	color: #fff;
}

aside a {
	margin: 10px 0;
	padding: 10px;
	display: block;
	color: #ccc;
	text-decoration: none;
}
aside a:hover {
	color: #fff;
	background-color: #000;
}
aside a.active {
	color: #adf;
	background-color: #000;
}

aside .account span {
	display: block;
}
aside .logout span:last-child {
	text-align: right;
}

main {
	padding: 10px;
}

main > h1 {
	margin: 0;
	margin-bottom: 10px;
}
