*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Website project
db.sqlite3
dbdumps
served/private
served/public
served/static/admin
served/static/debug_toolbar
served/static/file_browser
served/static/monitoring
settings_override.py
temp/
