{% load i18n %}{% load static %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANG }}">
<head>
	<title>Homesite - {% block wtitle %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<link rel="shortcut icon" href="{% static 'homesite/img/favicon.png' %}?_=1"/>
	<link rel="stylesheet" type="text/css" href="{% static 'homesite/fa/font-awesome.min.css' %}?_=1"/>
	<link rel="stylesheet" type="text/css" href="{% static 'homesite/odm/odm.css' %}?_=1"/>
	<link rel="stylesheet" type="text/css" href="{% static 'homesite/css/base.css' %}?_=1"/>
	<link rel="stylesheet" type="text/css" href="{% static 'homesite/css/table.css' %}?_=1"/>

	<script type="text/javascript" src="{% static 'homesite/jsu/jsu.js' %}?_=1"></script>
	<script type="text/javascript" src="{% static 'homesite/odm/odm.js' %}?_=1"></script>

	{% block head %}{% endblock %}
</head>

<body>
	{% block body %}{% endblock %}
</body>
</html>
