{% extends "base.html" %}{% load i18n %}{% load static %}

{% block head %}
	<script type="text/javascript" src="{% static 'homesite/js/clock.js' %}?_=1"></script>
	<script type="text/javascript"> var clock = new Clock(); </script>

	{% block scripts %}{% endblock %}
{% endblock %}

{% block body %}
	<main>
		<h1>{% block wtitle %}{% block title %}{% endblock %}{% endblock %}</h1>

		{% if messages %}
			<!-- django message block -->
			{% for message in messages %}
				<div class="message-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message|linebreaksbr }}</div>
			{% endfor %}
		{% endif %}

		{% block main %}{% endblock %}
	</main>

	<header>
		<a href="/"><i class="fa fa-home"></i> Homesite</a>
	</header>

	<aside>
		<div class="account">
			{% if user.is_authenticated %}
				<a class="logout" href="{% url 'logout' %}">
					<span>{% trans 'Logged as' %} {{ user.username }}</span>
					<span>{% trans 'Logout' %}</span>
				</a>
			{% else %}
				<a class="login" href="{% url 'login' %}">
					<span>{% trans 'Login' %}</span>
				</a>
			{% endif %}
		</div>
		{% if user.is_authenticated %}
			<div class="menu">
				<a href="{% url 'munin' %}" {% if section == "munin" %}class="active"{% endif %}>
					<i class="fa fa-bar-chart"></i>
					{% trans "Munin" %}
				</a>
				{% if user.is_staff %}
					<a href="/storage/public-ui/">
						<i class="fa fa-file"></i>
						{% trans "Public hosting" %}
					</a>
					<a href="/storage/protected-ui/">
						<i class="fa fa-file"></i>
						{% trans "Private hosting" %}
					</a>
				{% endif %}
				<a href="{% url 'info' %}" {% if section == "info" %}class="active"{% endif %}>
					<i class="fa fa-info-circle"></i>
					{% trans "Server info" %}
				</a>
				{% if user.is_superuser %}
					<a href="{% url 'monitoring:monitoring-panel' %}" {% if section == "monitoring" %}class="active"{% endif %}>
						<i class="fa fa-cogs"></i>
						{% trans "Logs and daemons" %}
					</a>
				{% endif %}
			</div>
		{% endif %}
	</aside>

	<footer>
		<div id="hour_place"></div>
		<div id="date_place"></div>
	</footer>
{% endblock %}
