@font-face {
    font-family: "Audimat";
    src: url("font-audimat.otf") format("truetype");
}

html {
    background: #222;
    color: #eee;
    font-size: 16px;
    font-family: Audimat, Arial, sans-serif;
}

html, body, div, table, h1, h2, h3, h4, tr, th, td, img, ul, ol, li, form, pre { margin: 0; padding: 0; }

a {       color: #3af; text-decoration: none; }
a:hover { color: #5cf; text-decoration: underline; }

img { vertical-align: middle; border: 0 none; }

iframe { border: 0 none; }

textarea { max-width: 100%; }

.sr-only { display: none; }


/* page structure */
body {
	margin: 0;
	margin-left: 220px;
	overflow: auto;
}

body > header,
body > aside,
body > footer {
	top: 0;
	bottom: 0;
	left: 0;
	right: auto;
	position: fixed;
	width: 220px;
	background: #444;
	color: #fff;
	text-align: center;
}
body > header {
	bottom: auto;
	height: 80px;
	line-height: 80px;
	background: #000;
	font-size: 200%;
}
body > aside {
	top: 80px;
	bottom: 50px;
	text-align: left;
	overflow: auto;
}
body > footer {
	padding: 5px 0;
	top: auto;
	height: 40px;
	line-height: 20px;
	background: #000;
}

header a {
	color: #3af;
	display: block;
}
header a:hover,
header a:active {
	color: #fff;
	text-decoration: none;
}

aside a {
	margin: 10px 0;
	padding: 10px;
	display: block;
	color: #ddd;
}
aside a:hover {
	color: #fff;
	background-color: #000;
	text-decoration: none;
}
aside a.active {
	color: #3af;
	background-color: #222;
	font-weight: bold;
}

aside .account span {
	display: block;
}
aside .logout span:last-child {
	text-align: right;
}

main {
	padding: 10px;
}

main > h1 {
	margin: 0;
	margin-bottom: 10px;
}
