{% extends "common.html" %}{% load i18n %}{% load staticfiles %}

{% block title %}{% trans "ARK server" %}{% endblock %}

{% block scripts %}
	<style>
		.output {
			word-wrap: break-word;
		}
	</style>
{% endblock %}

{% block main %}
	<h2>{% trans "Server status" %}</h2>

	<div>
		<form method="post" action="." style="display: inline;">{% csrf_token %}
			<input type="hidden" name="action" value="restart"/>
			<button type="submit">{% trans 'Restart server' %}</button>
		</form>
		<form method="post" action="." style="display: inline;">{% csrf_token %}
			<input type="hidden" name="action" value="stop"/>
			<button type="submit">{% trans 'Stop server' %}</button>
		</form>
		<form method="post" action="." style="display: inline;">{% csrf_token %}
			<input type="hidden" name="action" value="validate"/>
			<button type="submit">{% trans 'Validate game files' %}</button>
		</form>
	</div>
	<p class="output">{{ ps_out|linebreaksbr }}</p>

	<h2>{% trans "Server log" %}</h2>
	<div>
		<button type="button" onclick="javascript: location.reload();">{% trans 'Refresh' %}</button>
	</div>
	<p class="output">{{ log|linebreaksbr }}</p>
{% endblock %}
